language: cpp

sudo: required
dist: trusty

os: 
    - linux
    - osx

compiler: 
    - gcc
    - clang

before_install:
    - if [ $TRAVIS_OS_NAME == linux ]; then ./scripts/before_install_ubuntu.sh; fi

before_script:
    - mkdir build 
    - cmake --version
    - cd build && cmake ..
script:
    make -j8

notifications:
    recipients:
        - 502207456@qq.com
        - 13632323692@139.com
    email:
        on_success: change
        on_failure: always

