language: cpp
	
before_install:
    - sudo add-apt-repository ppa:cmake
    - sudo apt-get update 
    - sudo apt-get install cmake
	
before_script:
    - mkdir build 
    - cmake --version
    - cd build && cmake ..
script:
    make -j8

notifications:
    recipients:
        - 502207456@qq.com
    email:
        on_failure: change
