language: cpp

os: 
    - linux

compiler: 
    - gcc
    - clang

before_install:
    - sudo apt-get remove cmake # 卸载旧版本的
    - sudo add-apt-repository -y ppa:george-edison55/precise-backports
    - sudo apt-get update 
    - sudo apt-get install cmake

before_script:
    - mkdir build 
    - cmake --version
    - cd build && cmake ..
script:
    make -j8

notifications:
    recipients:
        - 502207456@qq.com
    email:
        on_failure: change
