language: cpp

sudo: required
dist: cmake-demo-1.0.1

os: 
    - linux
    - osx

compiler: 
    - visual studio 2010
    - visual studio 2015
    - gcc
    - clang

before_install:
    - cmake --version
    - if [[ $TRAVIS_OS_NAME == linux && `cmake --version | awk -F' ' '{print $3}'` < '3.2.2' ]]; then chmod +x ./scripts/before_install_ubuntu.sh && ./scripts/before_install_ubuntu.sh; fi

before_script:
    - mkdir build 
    - cd build && cmake ..
script:
    make -j8

notifications:
    recipients:
        - 502207456@qq.com
        - 13632323692@139.com
    email:
        on_success: always
        on_failure: always

