language: cpp

before_script:
    - if [ ! -d "build" ]; then mkdir build fi
    - cd build && cmake ..
script:
    make -j8

notifications:
    recipients:
        - 502207456@qq.com
    email:
        on_failure: change
